@import url(https://fonts.googleapis.com/css2?family=Lato&family=Inter&display=swap);
@import url(https://fonts.cdnfonts.com/css/domaine-display-narrow);
:root {
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-border-color: #E5E5E5 !important;
}

* {
  box-sizing: border-box;
  font-family: Lato;
}

html,
body {
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  position: relative;
}

.bg-green {
  background: #449342 !important;
}

.font-domaine i, span.font-domaine {
  font-family: "Domaine Display Narrow", Helvetica Neue, Helvetica, Arial, sans-serif;
}

.accent-color {
  color: #c1f6ed;
}

.container-xxl {
  padding-left: 32px;
  padding-right: 32px;
}

.btn[aria-expanded=true] svg {
  transform: rotate(180deg);
}

svg.linkedin-logo.footer {
  height: 34px;
  width: 34px;
  margin-top: -5px;
  margin-left: -3px;
}

img.banner-img {
  max-height: 250px !important;
  height: 250px !important;
  width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.fw-600 {
  font-weight: 600 !important;
}

.scroll-x {
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar {
  display: none;
}

iframe:not([name^=paystack-checkout]) {
  aspect-ratio: 16/9;
  width: 100% !important;
  border-radius: 12px !important;
  max-width: 900px;
  max-height: 400px;
  height: 100%;
}

.user-details-wrapper {
  display: -webkit-inline-box;
  width: 80%;
}
.user-details-wrapper img {
  height: 50px !important;
  width: 50px !important;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5rem;
  border-radius: 100%;
}

.blog-post-wrapper {
  padding: 0 6rem;
}
.blog-post-wrapper .blog-content p {
  font-size: 18px !important;
}
.blog-post-wrapper img {
  width: 100%;
}
.blog-post-wrapper h1 {
  font-weight: 600;
}

.text-white {
  color: white !important;
}

.blog-posts-wrapper .course-card-wrapper .card-footer button {
  width: -moz-max-content !important;
  width: max-content !important;
  border: none !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  color: #02353c !important;
}
.blog-posts-wrapper .course-card-wrapper .card-footer button:hover svg path {
  fill: white;
}
.blog-posts-wrapper .course-card-wrapper .card-footer button svg {
  height: 15px;
  width: 15px;
  margin-left: 8px;
}
.blog-posts-wrapper .course-card-wrapper .card-footer button svg path {
  fill: #02353c;
}

.blog-posts-wrapper .swiper-button-next,
.blog-posts-wrapper .swiper-button-prev {
  top: 57.5%;
}

.page-header.text-white {
  color: white !important;
}

#localeDropdownBtn .dropdown-menu li img {
  height: 30px;
  width: 30px;
}

.vds-video-layout[data-size=sm] .vds-controls .vds-play-button {
  background-color: #0399eb;
}

.publish-btn,
.unpublish-btn {
  width: 100px;
}

#paymentVerifiedHTML,
#paymentVerificationHTML,
#paymentVerificationFailedHTML {
  display: flex;
}
#paymentVerifiedHTML strong,
#paymentVerificationHTML strong,
#paymentVerificationFailedHTML strong {
  font-size: 0.894rem !important;
}

.hidden {
  display: none !important;
}

.course-featured-img {
  max-height: 411px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

#payment svg {
  display: table;
  margin: 0 auto;
  margin-top: 1.5rem;
}
#payment svg path {
  fill: green;
}
#payment p {
  font-size: 14px;
  color: #555;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
}
#payment .nav-link {
  font-weight: 600 !important;
}
#payment button {
  font-weight: 600 !important;
}
#payment label {
  font-size: 14px;
  color: #555 !important;
  margin-left: 4px;
}
#payment .payment-wrapper {
  width: 20rem;
  margin: auto;
  border: 1px solid rgba(24, 28, 33, 0.06);
  border-radius: 0.325rem;
  padding: 2rem 1.5rem 2.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(24, 28, 33, 0.01);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  background-color: white;
}

button {
  text-wrap: nowrap !important;
}

.h3 {
  margin-left: 0.75rem;
}
.h3 + * {
  margin-right: 1.5rem;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  padding: 0.5rem 0;
}

.dot-separator {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: #555;
  display: inline-block;
  vertical-align: middle;
}

table td {
  color: #555 !important;
}
table td p {
  margin-bottom: 0px;
}
table td img {
  height: 40px;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

#setLocaleBtn {
  padding: 0.25rem !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  border-radius: 4px;
  background: white !important;
  border-color: #fff !important;
  display: flex;
  align-items: center;
  font-size: 16px !important;
  color: #62646a !important;
  margin-right: 24px;
  font-weight: 600 !important;
}
#setLocaleBtn[aria-expanded=true] svg {
  transform: rotate(180deg);
}
#setLocaleBtn svg {
  height: 18px;
  width: 18px;
  margin-right: 8px !important;
}
#setLocaleBtn svg path {
  fill: #74767e !important;
}
#setLocaleBtn img {
  height: 18px;
  width: 17px;
  margin-right: 8px;
}

.backdrop-mobile {
  position: absolute;
  top: 60px;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
  display: none;
}

.btn-outline-success {
  color: #2eaf7d !important;
  border-color: #2eaf7d !important;
}
.btn-outline-success:hover {
  color: white !important;
  background: #2eaf7d !important;
  border-color: #2eaf7d !important;
}

.mobile-navs {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  z-index: 15;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: none;
  opacity: 0;
}
.mobile-navs .btn {
  border-radius: 20px;
}
.mobile-navs.active {
  display: none !important;
  opacity: 0 !important;
}
.mobile-navs ul {
  list-style: none;
  padding-left: 0px;
}
.mobile-navs ul li {
  padding: 1rem 0 !important;
}
.mobile-navs ul li img {
  height: 30px;
  width: 30px;
}
.mobile-navs ul li a {
  padding-left: 0px !important;
}

.navs-wrapper-mobile {
  display: none;
}
.navs-wrapper-mobile #showSearchBtn svg {
  height: 24px;
  width: 24px;
}
.navs-wrapper-mobile p {
  font-size: 10px !important;
  margin-bottom: 0px !important;
}
.navs-wrapper-mobile .btn:not(.custom-close-btn) {
  box-shadow: none !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border: 0px !important;
}
.navs-wrapper-mobile .btn:not(.custom-close-btn) svg {
  height: 30px;
  width: 30px;
}

.profile-img-wrapper:hover .profile-img-upload-wrapper {
  opacity: 1;
}
.profile-img-wrapper .profile-img-upload-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  display: grid;
  place-items: center;
  opacity: 0;
}

.user-login-alert {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  top: 90px;
  z-index: 20;
  right: 20px;
}

.dataTable .btn:not(.custom-close-btn) {
  box-shadow: none !important;
}

span[data-dz-name] {
  display: none;
}

.dropzone {
  border-style: dashed !important;
  border-radius: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
  right: 12px;
}

.select2-container--default .select2-selection--single {
  border-color: #d1d3e2 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px !important;
}

.select2-selection {
  height: 2.425rem !important;
}

.select2-search__field:focus {
  outline: none !important;
}

#addReplyHTML {
  display: none;
  opacity: 0;
}

.alert-danger, .alert-success {
  animation: cssAnimation 0s ease-out 6s forwards;
  animation-fill-mode: forwards;
}

.chat-wrapper {
  display: -webkit-box;
}
.chat-wrapper.answer {
  margin-left: 4.5rem;
}
.chat-wrapper.answer .chat-bubble {
  outline: #348de5 solid 3px;
  outline-offset: 3px;
}
.chat-wrapper.answer .chat-bubble::after {
  content: "";
  position: absolute;
  left: -26px;
  top: 20px;
  height: 10px;
  width: 0px;
  border-width: 8px 10px 8px 10px;
  border-color: transparent rgb(102, 163, 224) transparent transparent;
  border-style: solid;
}
.chat-wrapper img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 1.5rem;
  border-radius: 100%;
}
.chat-wrapper .chat-bubble {
  background: #f1f0f0;
  padding: 1rem;
  padding-right: 2.5rem;
  margin-bottom: 2.5rem;
  border-radius: 20px;
  position: relative;
}
.chat-wrapper .chat-bubble::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 20px;
  height: 10px;
  width: 0px;
  border-width: 8px 10px 8px 10px;
  border-color: transparent #f1f0f0 transparent transparent;
  border-style: solid;
  z-index: 2;
}
.chat-wrapper .chat-bubble p {
  margin-bottom: 0.5rem !important;
}
.chat-wrapper .chat-bubble p:first-child {
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #555;
}
.chat-wrapper .chat-bubble p:first-child span {
  font-weight: normal !important;
}
.chat-wrapper .chat-bubble p:first-child::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 20px;
  height: 10px;
  width: 0px;
  border-width: 8px 10px 8px 10px;
  border-color: transparent #ffffff transparent transparent;
  border-style: solid;
  z-index: 1;
}

#settings-tab-pane input {
  border-radius: 6px;
  padding-left: 1.25rem;
}
#settings-tab-pane label {
  color: #000 !important;
  margin-left: 1.5rem;
}
#settings-tab-pane button {
  font-size: 18px !important;
  padding-left: 54px;
  padding-right: 54px;
  font-weight: 600 !important;
}

:not(.btn-check) + .btn:active {
  border: 0px !important;
}

.dropdown-menu {
  box-shadow: 0 0 15px 1px rgba(90, 80, 105, 0.2);
  border: 0px solid rgba(0, 0, 0, 0.15);
}

.modal-backdrop {
  opacity: 0.7 !important;
}

::-moz-placeholder {
  color: #7F7F7F !important;
  opacity: 1 !important; /* Firefox */
}

::placeholder {
  color: #7F7F7F !important;
  opacity: 1 !important; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #7F7F7F !important;
}

.modal .shadow-none:not(.custom-close-btn) {
  box-shadow: none !important;
}
.modal .modal-content {
  border-radius: 20px;
}
.modal .modal-dialog {
  margin-top: 5rem;
}

.modal .btn:not(.custom-close-btn) {
  box-shadow: none !important;
}
.modal .btn:not(.custom-close-btn).btn-success {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.modal input.form-control {
  background: #F7F7F7;
  border-color: #F7F7F7;
}

.btn-black {
  background: #F5F5F5;
  color: rgba(0, 0, 0, 0.8);
}
.btn-black:hover {
  background: #F5F5F5;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #000;
}
.btn-black.active {
  background-color: #000;
  color: #fff;
}

#lessonContent {
  margin-bottom: 60px;
}

.reply-wrapper {
  display: -webkit-inline-box;
  width: 80%;
  padding-left: 5rem;
}
.reply-wrapper .reply {
  border-radius: 4px;
  border: 1px solid #CDCFD5;
  width: 100%;
  padding: 0.75rem 1.25rem;
}
.reply-wrapper .reply p {
  color: #000 !important;
}
.reply-wrapper .reply .reply-header {
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0.5rem;
}
.reply-wrapper .reply .reply-header p {
  color: #000 !important;
}
.reply-wrapper .reply .reply-header > div span {
  color: #555555;
}
.reply-wrapper img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5rem;
}

.comment-wrapper {
  display: -webkit-inline-box;
  width: 80%;
}
.comment-wrapper .comment {
  border-radius: 4px;
  border: 1px solid #CDCFD5;
  width: 100%;
  padding: 0.75rem 1.25rem;
}
.comment-wrapper .comment:hover .reply-btn {
  opacity: 1;
}
.comment-wrapper .comment p {
  color: #000 !important;
}
.comment-wrapper .comment .comment-header {
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 0.5rem;
}
.comment-wrapper .comment .comment-header p {
  color: #000 !important;
}
.comment-wrapper .comment .comment-header > div span {
  color: #555555;
}
.comment-wrapper img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5rem;
  border-radius: 100%;
}
.comment-wrapper .reply-btn {
  opacity: 0;
  align-self: center;
  border-radius: 20px;
  background: #F9F9F9;
  font-size: 11px;
  padding: 0.125rem 1.125rem;
  color: #555555;
}
.comment-wrapper .reply-btn svg {
  height: 20px;
  width: 20px;
  margin-right: 2px;
  padding-bottom: 2px;
}

.add-comment-wrapper {
  display: -webkit-inline-box;
  width: 80%;
}
.add-comment-wrapper form textarea {
  border-color: #CDCFD5;
  border-width: 2px;
  border-radius: 4px;
}
.add-comment-wrapper button {
  align-self: flex-end;
  display: table;
  margin-left: auto;
  padding-left: 26px;
  padding-right: 26px;
}
.add-comment-wrapper img {
  height: 50px;
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1.5rem;
  border-radius: 100%;
}

#toggleCourseContentBtn svg {
  transition: rotate 250ms ease-in-out;
}

.h-0 {
  height: 0 !important;
}

.min-h-0 {
  min-height: 0 !important;
}

.w-0 {
  width: 0 !important;
}

footer {
  background: #02353c;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
footer hr {
  border-color: rgb(255, 255, 255) !important;
}
footer .spacer + p {
  font-size: 14px;
}
footer .social-media-handles {
  display: flex;
}
footer .social-media-handles a {
  display: inline-block;
  margin-right: 2rem;
  width: -moz-max-content !important;
  width: max-content !important;
}
footer p {
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
footer img {
  margin-bottom: 2rem;
  height: 35px;
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: contain;
     object-fit: contain;
}
footer svg {
  height: 25px;
  width: -moz-fit-content;
  width: fit-content;
}
footer svg path {
  fill: rgb(255, 255, 255);
}
footer a {
  margin-bottom: 0.8625rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 16px;
}
footer h5 {
  font-weight: 500;
  color: rgb(255, 255, 255) !important;
  margin-bottom: 2rem;
  font-size: 18px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background: rgb(255, 255, 255);
  z-index: 100;
  border-bottom: 1px solid #e4e5e7;
}
header .btn:not(.custom-close-btn).btn-outline-success {
  font-weight: 600 !important;
  border-radius: 4px !important;
}
header .nav-link {
  padding-right: 24px;
  color: #62646a !important;
  font-weight: 600 !important;
}
header .nav-link:hover {
  color: #2eaf7d !important;
}
header .dropdown-menu {
  padding: 1rem 0rem 0rem 0rem;
  min-width: 15rem;
  transform: translate(0px, 58px) !important;
  border-radius: 20px !important;
  overflow-x: hidden;
}
header .dropdown-menu hr {
  color: black;
  margin-top: 2rem;
}
header .dropdown-menu::before {
  content: "";
  position: absolute;
  top: -11px;
  left: 44%;
  width: 10;
  height: 10px;
  border-width: 0px 8px 12px 8px;
  border-color: transparent transparent white transparent;
  border-style: solid;
}
header .dropdown-menu .dropdown-item {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding-left: 28px;
  margin: 0.5rem 0;
}
header .dropdown button {
  border: none !important;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}
header .dropdown button::after {
  display: none;
}
header .dropdown button img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header * {
  font-family: Inter;
}
header .btn {
  padding-left: 20px;
  padding-right: 20px;
}
header .btn.btn-success, header .btn.btn-outline-success {
  box-shadow: none !important;
}
header .btn.dropdown-toggle {
  box-shadow: none !important;
  text-transform: capitalize;
}
header .btn.dropdown-toggle.show, header .btn.dropdown-toggle:focus, header .btn.dropdown-toggle:hover {
  background-color: unset !important;
  color: unset !important;
}
header img {
  height: -moz-max-content;
  height: max-content;
}
header img#page-logo {
  height: 32px;
}
header a {
  color: #000;
}
header .search-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  margin-right: 3rem;
  max-width: 420px;
}
header .search-wrapper button#searchBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px;
  box-shadow: none !important;
  height: 100%;
  background: #02353c;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
header .search-wrapper button#searchBtn:hover svg path {
  fill: rgba(255, 255, 255, 0.7);
}
header .search-wrapper button#searchBtn.focus {
  border-left: 1px solid #DFDFE0;
}
header .search-wrapper button#searchBtn svg {
  height: 20px !important;
}
header .search-wrapper button#searchBtn svg path {
  fill: white;
}
header .search-wrapper button svg {
  height: 18px;
  width: 18px;
}
header .search-wrapper .search-results-wrapper {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-color: white;
  padding: 1.5rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #DFDFE0;
  display: none;
}
header .search-wrapper .search-results-wrapper > div {
  display: flex;
}
header .search-wrapper .search-results-wrapper button.custom-close-btn {
  border-color: white !important;
  position: relative;
  margin-right: -1.1325rem;
}
header .search-wrapper .search-results-wrapper button.custom-close-btn:active {
  border: 1px solid #fff !important;
}
header .search-wrapper .search-results-wrapper h6 {
  font-weight: 600;
  font-size: 22px;
}
header .search-wrapper .main-search-input {
  height: 40px;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #c5c6c9;
  font-size: 16px;
  padding: 12px;
  padding-left: 20px;
  outline: 0 !important;
  color: #62646a;
}
header .search-wrapper .main-search-input.focus {
  border: 1px solid #DFDFE0 !important;
  outline: none !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: white !important;
  border-bottom: 0px !important;
  border-top-right-radius: 20px !important;
}

.login {
  margin-top: 80px;
}

.tab-content-announcements .bullet svg {
  height: 18px;
  width: 18px;
  margin-right: 12px;
}

#editor {
  height: -moz-fit-content;
  height: fit-content;
}

.ql-editor {
  height: 230px !important;
}

.q-and-a button {
  padding-left: 26px;
  padding-right: 26px;
}

.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2340DC35'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  transform: rotate(-90deg);
}

.lesson-pane {
  transition: width 250ms ease-in-out;
}
.lesson-pane .alert.alert-danger {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
}
.lesson-pane #overview-tab-pane p {
  color: #555;
}
.lesson-pane .row-cols-2 a {
  width: -moz-fit-content;
  width: fit-content;
}
.lesson-pane .row-cols-2 a > div {
  border-radius: 4px;
  border: 1px solid #CDCFD5;
  background: #FFF;
}
.lesson-pane .row-cols-2 a > div svg {
  height: 40px;
  width: 40px;
}
.lesson-pane .row-cols-2 a > div > div p:first-child {
  margin-bottom: 0.5rem;
  color: #000;
}
.lesson-pane .row-cols-2 a > div > div p:last-child {
  color: #555;
  margin-bottom: 0;
}
.lesson-pane .footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: grid;
  place-content: center;
  padding: 1rem 1.25rem;
  border-top: 1px solid #C7E6EE;
  background: #E7F4F8;
  color: black;
  height: 58px;
  width: inherit;
  z-index: 100;
}
.lesson-pane .footer .btn {
  width: 126px;
  border: 1px solid #BFE1EC;
  background: #D2EAF2;
  color: #309FBE;
}
.lesson-pane .footer .btn.btn-next svg {
  margin-left: 12px;
}
.lesson-pane .footer .btn.btn-prev svg {
  margin-right: 12px;
}
.lesson-pane .nav-link.active svg path {
  fill: #1392B5;
}
.lesson-pane .nav-link#comments-tab svg {
  margin-right: 2px;
}
.lesson-pane .nav-link#exercise-files-tab svg {
  margin-right: -4px;
}
.lesson-pane .nav-link#comments-tab svg {
  width: 17px !important;
  height: 17px !important;
}
.lesson-pane .nav-link svg {
  width: 23px !important;
  height: 23px !important;
}
.lesson-pane .header {
  position: sticky;
  top: 0;
  padding: 1rem 1.25rem;
  background-color: #1392B5;
  color: white;
  height: 58px;
  z-index: 100;
}
.lesson-pane .header .btn {
  box-shadow: none !important;
}
.lesson-pane .header .btn-custom-close svg {
  height: 23px;
  width: 23px;
}
.lesson-pane .header p span {
  font-weight: 600;
}
.lesson-pane .header .btn-collapse svg {
  height: 35px;
  width: 35px;
}

.course-content {
  border-color: var(--bs-accordion-border-color) !important;
  min-height: 100vh;
  background: #F7F9FA;
  transition: width 250ms ease-in-out;
}
.course-content .header {
  z-index: 2;
  position: sticky;
  top: 0;
  display: grid;
  place-items: flex-start;
  padding: 1rem 1.25rem;
  background-color: white;
  color: black;
  height: 58px;
}
.course-content .header p {
  text-wrap: nowrap;
}
.course-content .accordion-item .accordion-body .bullet {
  color: black;
}
.course-content .accordion-item .accordion-body .bullet p {
  margin-bottom: 1.5rem !important;
  text-wrap: nowrap;
}
.course-content .accordion-item .accordion-body .bullet.active svg:first-child path {
  fill: #4D96F7;
}
.course-content .accordion-item .accordion-body .bullet.active p {
  color: #4D96F7;
}
.course-content .accordion-item button {
  background: #F7F9FA;
  font-size: 18px;
  color: black;
}
.course-content .accordion-item button p {
  text-wrap: nowrap;
}
.course-content .accordion-item button span {
  color: rgba(85, 85, 85, 0.33);
  font-size: 11px;
}
.course-content .accordion-item button:not(.collapsed) {
  color: #4D96F7;
}

#accordion-course-content-2 .accordion-item {
  border-radius: 0px !important;
  border-right: 0px !important;
}
#accordion-course-content-2 .accordion-item .accordion-body svg {
  height: 20px;
  width: 20px;
}
#accordion-course-content-2 .accordion-item .accordion-body svg:first-child {
  margin-right: 12px;
  height: 22px;
  width: 22px;
}

#accordion-course-content-1 .accordion-item {
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: var(--bs-accordion-border-radius);
  border-top-right-radius: var(--bs-accordion-border-radius);
  border-bottom-right-radius: 0.375rem;
  border-top: 1px solid var(--bs-accordion-border-color) !important;
}

.accordion-item {
  overflow: hidden;
  border-color: var(--bs-accordion-border-color) !important;
}

.bullet {
  display: -webkit-inline-box;
}
.bullet p {
  text-wrap: balance;
}
.bullet img {
  margin-right: 12px;
  height: 20px !important;
  width: 20px !important;
}
.bullet svg {
  height: 30px;
  width: 30px;
}

.btn-primary {
  background: #2198F3 !important;
  border-color: #2198F3 !important;
  box-shadow: 0px 1.436px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1.436px 1.436px 0px rgba(0, 0, 0, 0.08) !important;
}
.btn-primary:hover {
  background: #0b5ed7 !important;
  border-color: #0b5ed7 !important;
}

.nav-tabs {
  border-color: rgba(0, 0, 0, 0.5) !important;
}
.nav-tabs .nav-link {
  color: black !important;
  border: none !important;
}
.nav-tabs .nav-link.active {
  border-bottom: 2px solid #1392B5 !important;
  color: #1392B5 !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.card.profile-card {
  border-radius: 20px;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 5.676px 5.676px rgba(0, 0, 0, 0.25);
  align-items: center;
  display: flex;
  padding: 2.5rem;
  padding-bottom: 3rem;
  background: rgba(217, 217, 217, 0.09);
}
.card.profile-card span {
  font-weight: 600 !important;
  margin-right: 6px;
}
.card.profile-card h5 {
  margin-top: 0.825rem;
  margin-bottom: 1.725rem;
  font-weight: 600;
  text-transform: capitalize;
}
.card.profile-card img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.card.course-card {
  border-radius: 20px;
  border: 1px solid #F9F9F9;
  box-shadow: 0px 4px 36px 2px rgba(189, 190, 193, 0.25);
}
.card.course-card.admin .card-body {
  padding: 1.625rem 1.625rem 4.8125rem;
}
.card.course-card a.btn {
  letter-spacing: normal;
  text-transform: uppercase;
  font-weight: 600 !important;
}
.card.course-card .card-body {
  padding: 1.625rem 1.625rem 3.5rem;
}
.card.course-card .card-body button {
  font-weight: 600 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card.course-card .card-body button.add-to-favorite-btn {
  margin-left: -0.65rem;
  box-shadow: none !important;
  outline: 0 !important;
  border: 0px !important;
}
.card.course-card svg {
  height: 40px;
}
.card.course-card p {
  color: black !important;
  margin-bottom: 0.625rem !important;
}
.card.course-card h6 {
  color: black !important;
  font-weight: 600;
}

.max-content {
  width: -moz-max-content !important;
  width: max-content !important;
}

section.blogs {
  background-color: #f5f5f5;
  padding: 7rem 0 7rem 0;
}
section.blogs .btn-link {
  color: #446ee7 !important;
}
section.blogs .btn-link svg path {
  fill: #446ee7;
}
section.blogs .course-card-wrapper {
  box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.032), 0 0.37px 4.42626px rgba(0, 0, 0, 0.048), 0 3px 7px rgba(0, 0, 0, 0.09);
}
section.how-it-works {
  padding: 7rem 0 7rem 0;
  background-color: #ebc100;
}
section.how-it-works .btn {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 600 !important;
  font-size: 20px !important;
  box-shadow: none !important;
  color: #ebc100 !important;
  background-color: #404145 !important;
  border-radius: 0px !important;
  width: 35% !important;
  letter-spacing: 1.2px;
  margin-top: 3rem;
}
section.how-it-works .underline {
  height: 5px;
  width: 190px;
  background-color: white;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 8rem;
}
section.how-it-works .page-header {
  color: #404145 !important;
  text-transform: uppercase;
  margin-bottom: 8rem !important;
}
section.how-it-works h5 {
  text-transform: uppercase;
  text-align: center;
}
section.how-it-works h3, section.how-it-works h4 {
  color: rgb(255, 255, 255) !important;
}
section.how-it-works .svg-container {
  background-color: #404145;
  height: 220px;
  width: 220px;
  margin-bottom: 2rem;
  border-radius: 4px;
  position: relative;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
section.how-it-works .svg-container img {
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.how-it-works .svg-container .step-number-container {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  height: 85px;
  width: 85px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
section.how-it-works .svg-container .step-number-container h3 {
  color: #404145 !important;
  font-size: 32px;
}
section.features h5 {
  color: #404145;
}
section.features p {
  font-size: 18px;
}
section.our-vision-mission {
  background-color: #0d084d;
  padding: 7rem 0 7rem 0;
  color: white;
  border-radius: 12px;
}
section.our-vision-mission .btn {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600 !important;
  font-size: 16px !important;
  box-shadow: none !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin-top: 1.5rem;
  color: #62646a !important;
}
section.our-vision-mission svg {
  margin-right: 12px;
  align-items: center;
  flex-shrink: 0;
}
section.our-vision-mission .page-header {
  color: white !important;
}
section.our-vision-mission p {
  font-size: 18px;
  width: 85%;
}
section.about-us {
  padding: 7rem 0 7rem 0;
}
section.about-us .btn {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600 !important;
  font-size: 16px !important;
  box-shadow: none !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}
section.about-us p {
  font-size: 26px;
  width: 82%;
  margin-bottom: 2rem;
  font-family: "Domaine Display Narrow", Helvetica Neue, Helvetica, Arial, sans-serif;
}
section .content-wrapper.bg-green {
  background: #449342 !important;
}
section .content-wrapper.bg-violet {
  background: #7F00FF !important;
}
section.course-info.admin .nav-tabs .nav-link.active {
  background-color: #f8f8fc;
}
section.course-info .accordion-collapse p {
  color: black !important;
  margin-bottom: 1.5rem;
}
section.course-info .accordion-header button {
  color: black !important;
  background: #F7F9FA !important;
  box-shadow: none !important;
}
section.course-info p {
  color: #555 !important;
}
section.call-to-action {
  margin-bottom: 9rem;
}
section.call-to-action .btn {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600 !important;
  font-size: 16px !important;
  box-shadow: none !important;
}
section.call-to-action p {
  width: 66%;
  color: #373737 !important;
  margin-bottom: 2rem;
}
section.call-to-action h1 {
  width: 80%;
  color: black !important;
  margin-top: 2rem;
}
section.call-to-action img {
  height: 400px;
}

.swiper-button-prev {
  left: -25px !important;
}

.swiper-button-next {
  right: -25px !important;
}

.explore-by-category-wrapper .swiper-button-next,
.explore-by-category-wrapper .swiper-button-prev {
  top: 63% !important;
}

.featured-courses-wrapper .swiper-button-next,
.featured-courses-wrapper .swiper-button-prev,
.recommended-courses-wrapper .swiper-button-next,
.recommended-courses-wrapper .swiper-button-prev {
  top: 59% !important;
}

[class^=swiper-button-next], [class^=swiper-button-prev] {
  width: 50px !important;
  height: 50px !important;
  border-radius: 100%;
  background-color: white;
  box-shadow: 0px 5.6px 5.6px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
}
[class^=swiper-button-next] svg, [class^=swiper-button-prev] svg {
  height: 15px !important;
  width: auto;
}
[class^=swiper-button-next]:after, [class^=swiper-button-prev]:after {
  font-size: 22px !important;
  color: black;
  display: none !important;
}

.swiper {
  padding: 10px 10px 10px 10px !important;
  margin: -10px !important;
}

.course-card-wrapper {
  background: #D9D9D9;
  box-shadow: 0px 5.6px 5.6px 0px rgba(189, 190, 193, 0.25);
  border-radius: 4px !important;
  overflow: hidden;
}
.course-card-wrapper:hover button svg {
  transform: translateX(12px);
  transition: transform 250ms ease-in-out;
}
.course-card-wrapper .card-footer {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  background-color: #fff;
}
.course-card-wrapper .card-footer .course-details {
  width: 100% !important;
}
.course-card-wrapper .card-footer .course-details p {
  margin-bottom: 0.425rem;
}
.course-card-wrapper .card-footer .course-details p:nth-child(2) {
  font-size: 1rem;
  color: rgba(33, 37, 41, 0.75);
  margin-bottom: 0.725rem;
}
.course-card-wrapper .card-footer .course-details p:first-child {
  font-size: 1.125rem;
  color: #373737 !important;
}
.course-card-wrapper .card-footer .course-details svg {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}
.course-card-wrapper .card-footer .course-details svg path {
  fill: rgba(33, 37, 41, 0.75);
}
.course-card-wrapper .card-footer .btn {
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: none !important;
  font-weight: 600 !important;
  width: 100% !important;
  margin-top: 1.5rem;
  font-size: 14px !important;
}
.course-card-wrapper .course-img img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media screen and (min-width: 1200px) {
  .page-hero h1 {
    width: 64%;
  }
}
.explore-by-category-wrapper .card-overlay .overlay-content {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 25%, rgba(0, 0, 0, 0.1) 50%);
  padding: 1.5rem 1.5rem 15rem 1.5rem;
  height: 345px;
}
.explore-by-category-wrapper .card-overlay .overlay-content .page-header {
  margin-bottom: 0px !important;
  font-size: 26px !important;
  font-weight: 600 !important;
  color: rgb(255, 255, 255) !important;
}

.testimonials-wrapper {
  margin-top: 1.5rem;
}
.testimonials-wrapper .swiper {
  padding-bottom: 71px !important;
}
.testimonials-wrapper .swiper-pagination {
  bottom: 25px !important;
}
.testimonials-wrapper .swiper-pagination .swiper-pagination-bullet {
  background: rgba(217, 217, 217, 0.8) !important;
}
.testimonials-wrapper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #D9D9D9 !important;
}
.testimonials-wrapper .card-overlay {
  border-radius: 4px !important;
}
.testimonials-wrapper .card-overlay .overlay-content {
  background: linear-gradient(270deg, rgba(50, 221, 56, 0) 0%, #2eaf7d 32.29%, #449342 47.92%, #02353c 100%);
  position: relative;
  z-index: 2;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}
.testimonials-wrapper .card-overlay .overlay-content p:nth-child(2) {
  font-size: 22px;
  font-weight: 700;
}
.testimonials-wrapper .card-overlay .overlay-content p:nth-child(1) {
  font-size: 28px;
  margin-bottom: 1.5rem;
}
.testimonials-wrapper .card-overlay .overlay-content img {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.testimonials-wrapper .card-overlay .overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.testimonials-wrapper .card-overlay .overlay-img img {
  -o-object-position: 0% 6% !important;
     object-position: 0% 6% !important;
}
.testimonials-wrapper .card-overlay .overlay-text {
  padding: 12px;
}
@media screen and (min-width: 1200px) {
  .testimonials-wrapper .card-overlay .overlay-text {
    padding: 46px;
  }
}
.testimonials-wrapper .card-overlay .overlay-text p {
  margin-bottom: 0 !important;
}
@media screen and (min-width: 1200px) {
  .testimonials-wrapper .card-overlay .overlay-text p {
    width: 45%;
  }
}
.testimonials-wrapper .card-overlay .overlay-text p:nth-child(2) {
  font-weight: 700;
}
.testimonials-wrapper .card-overlay .overlay-text p:first-child {
  margin-bottom: 1.5rem !important;
}

.card-overlay {
  position: relative;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 5.6px 5.6px 0px rgba(189, 190, 193, 0.25);
}
.card-overlay.shadow-none {
  box-shadow: none;
}
.card-overlay .overlay-content {
  position: relative;
  z-index: 2;
}
.card-overlay .overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card-overlay .overlay-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.page-header {
  font-size: 32px !important;
  font-weight: 600 !important;
  color: #404145 !important;
  margin-bottom: 2rem !important;
}

.spacer {
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.page-hero .text-bg-gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.page-hero .text-bg-gradient.gradient-3 {
  background: radial-gradient(ellipse at top, transparent, transparent), radial-gradient(ellipse at top, transparent, rgb(2, 53, 60));
}
.page-hero .text-bg-gradient.gradient-2 {
  background: radial-gradient(ellipse at top, transparent, transparent), radial-gradient(ellipse at top, transparent, rgb(2, 53, 60));
}
.page-hero .text-bg-gradient.gradient-1 {
  background: radial-gradient(ellipse at top, transparent, rgb(2, 53, 60)), radial-gradient(ellipse at top, transparent, rgb(2, 53, 60));
}

.page-hero h1 {
  padding: 32px;
  border-radius: 0px;
  z-index: 2;
  position: absolute;
  bottom: 18%;
  color: #FFF;
  font-family: Lato;
  font-size: 56px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
  text-shadow: 0px 1.436px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1.436px 1.436px 0px rgba(0, 0, 0, 0.08) !important;
}

.swiper-pagination {
  bottom: 48px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-pagination-bullet {
  height: 14px !important;
  width: 14px !important;
  background: rgba(255, 255, 255, 0.8) !important;
  margin: 0px 8px !important;
  opacity: 1 !important;
}

.page-hero .swiper-wrapper img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 0px;
     object-position: center 0px;
  width: 100%;
}

.page-hero {
  max-height: 600px;
}

.main-content {
  margin-top: 80px !important;
}
.main-content.lesson {
  margin-top: 0px !important;
}
.main-content.donate {
  background-color: #0d084d;
  padding-bottom: 7rem;
}
.main-content.donate .btn:not(.custom-close-btn) {
  box-shadow: none !important;
}
.main-content.blogs {
  background-color: #f5f5f5;
  padding-bottom: 7rem;
}
.main-content.blogs h3 {
  color: #404145;
}
.main-content.blogs .course-card-wrapper {
  box-shadow: 0 0.14px 2.29266px rgba(0, 0, 0, 0.032), 0 0.37px 4.42626px rgba(0, 0, 0, 0.048), 0 3px 7px rgba(0, 0, 0, 0.09);
}
.main-content.account {
  position: relative;
}
.main-content.account section {
  position: relative;
  z-index: 2;
}
.main-content.account .account-bgImg {
  position: absolute;
  top: -3rem;
  height: 600px;
  width: 100%;
  background-image: url("/assets/img/account-bgImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  background-position-y: bottom;
  background-position-x: right;
  background-attachment: fixed;
}
.main-content.account .account-bgImg .row::after {
  content: "";
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: white;
  box-shadow: 0 -16px 32px rgb(255, 255, 255);
  bottom: -18px;
}
.main-content.account .account-bgImg .row .col:last-child {
  background: rgba(255, 255, 255, 0.8);
}
.main-content.account .account-bgImg .row .col:first-child {
  background: white;
}

a {
  text-decoration: none !important;
}
a.btn-link svg {
  height: 25px;
  width: 25px;
  margin-left: 0.5rem;
}

.btn:not(.custom-close-btn) {
  font-size: 14px !important;
  font-weight: 500 !important;
  box-shadow: 0px 1.436px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1.436px 1.436px 0px rgba(0, 0, 0, 0.08) !important;
}

.btn-success:hover, .btn-outline-success:hover {
  border-color: #2eaf7d !important;
}

.btn-success {
  background: #2eaf7d !important;
  border-color: #2eaf7d !important;
}

.layout-width {
  max-width: 1148px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.navs-wrapper {
  display: flex;
}

#toggleCourseContentMobileViewBtn {
  display: none;
}

@keyframes cssAnimation {
  from {
    opacity: 1;
    overflow: hidden;
  }
  50% {
    opacity: 0.5;
    overflow: hidden;
  }
  to {
    opacity: 0;
    overflow: hidden;
    display: none;
    margin: 0;
    padding: 0;
  }
}
.company-info-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .swiper-pagination-bullet {
    height: 14px !important;
    width: 14px !important;
  }
  .blog-post-wrapper {
    padding: 0 0rem;
  }
  section.call-to-action img {
    height: 321px !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  section.call-to-action p {
    width: 100% !important;
  }
  .swiper-button-prev {
    left: 0px !important;
  }
  .swiper-button-next {
    right: 0px !important;
  }
  .swiper-pagination {
    bottom: 16px !important;
  }
  .page-hero {
    height: 250px;
  }
  .page-hero img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
    height: 250px !important;
    width: 100% !important;
  }
  .page-hero-header {
    font-size: 46px !important;
  }
  .company-info-desktop {
    display: none;
  }
  .company-info-mobile {
    display: flex;
    flex-direction: column;
    max-width: 100vw !important;
    overflow: hidden !important;
  }
  #localeDropdownBtn {
    display: none;
  }
  .backdrop-mobile {
    display: none;
    opacity: 0;
  }
  .backdrop-mobile.active {
    display: block;
    opacity: 1;
  }
  .mobile-navs.active {
    display: block !important;
    opacity: 1 !important;
  }
  .navs-wrapper-mobile {
    display: flex;
  }
  .main-content {
    overflow-x: hidden;
  }
  .w-75 {
    width: 100% !important;
  }
  .course-content {
    position: absolute;
    top: 58px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 250ms ease-in-out;
    z-index: 11;
  }
  .lesson-pane .header #toggleCourseContentBtn {
    display: none;
  }
  .lesson-pane .header #toggleCourseContentMobileViewBtn {
    display: block;
  }
  .lesson-pane .header > div:last-child p {
    display: none;
  }
  .lesson-pane .header > div:first-child p {
    display: block;
  }
  .lesson-pane #lessonContent .tab-pane {
    padding: 20px !important;
    margin: 0px !important;
  }
  .navs-wrapper .search-wrapper {
    position: absolute !important;
    display: none !important;
    top: 94px;
    left: 0;
    width: 100%;
  }
  .navs-wrapper .search-wrapper.active {
    display: block !important;
  }
  .navs-wrapper .search-wrapper .main-search-input {
    background: white;
    width: 100% !important;
  }
  .navs-wrapper nav {
    display: none !important;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
